<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Cadastro</title>
    <script src ="vue.global.js"></script>
    <link rel ="stylesheet" href="style.css"/>
</head>
<body>
    <div id="app">

        <div class="lista">
            <h1>Lista de Usuários</h1>
            <button class="botaoCadastro" @click = "verCadastrados">
                {{mostrarLista ? "Ocultar Lista" : "Mostrar Lista"}}
            </button>

            <!--Processo para listar os usuários e senhas cadastrados nos arrays "usuários" e "senhas"-->
            <ol v-if="mostrarLista">
                <li v-for ="(usuario, index) in usuarios">
                    Usuário: {{usuario}}

                    <button class="botaoCadastro" @click="excluirUsuario(usuario)">Excluir</button>
                    
                </li><!--Fechamento do li-->

            </ol><!--Fechamento do ol-->
        </div>

    </div><!--Fechamento da div principal-->

    <script src="process.js"></script>
    
</body>
</html>