body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(253, 240, 228);
}

h1{
    font-size: 36px;
    color: rgb(47, 36, 8);
    margin-top: 0%;
}

p{
    font-size: 18px;
    line-height: 1.5;
    color: rgb(47, 36, 8);
}

.container{
    width: 80%;
    padding: 20px;
    background-color: gold;
    margin:0 auto;
}

@media (max-width: 768px){
    .container{
        width:90%;
        padding: 10px;
    }

    h1{
        font-size: 24px;
    }

    p{
        font-size: 12px;
    }
}