.error{
    color:red;
    margin: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color:green;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(160, 200, 255);
    margin: 0;
    padding: 20px;
}

#app{
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(232, 232, 232);
    padding: 20px;
    box-shadow: 1px 1px 1px grey;
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(232, 232, 232);
}

label{
    margin-bottom: 10px;
}

.labelCadastro{
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

input[type="text"], input[type= "password"]{
    padding: 5px;
    border-radius: 10px;
    /* border-color: red;
    border-style: solid; */
    /* border: none; */
    margin-bottom: 10px;
}

.textos{
    width: 95%;
    border:2px solid black;
    border-style:solid ;
    font-size: 16px;
}

button{
    padding: 5px;
    background-color: rgb(216, 216, 216);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 15px;

}

.botaoCadastro{
    margin-bottom: 15px;
    margin-right: 10px;
    margin-top: 15px;
}

button:hover{
    background-color: rgb(193, 193, 193);
}

.lista{
    margin-top: 20px;
    border: 2px solid black;
    border-radius:10px;
    padding: 15px;
    background-color: white;
}

ol{
    margin-top: 10px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-items: center;
}

li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    margin-left: 0px;
    border-style: solid;
    background-color: white;
    border-radius: 10px;
}