<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrados</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <header>

            <picture>
              <img class="LogoSite" src="midias/Outros/LogoSite.png" @click="Site"/> </picture
            ><!--Fechamento picture-->
            <h1>SeuCinema.com</h1>
            <form>
              <label for="email">E-mail:</label>
              <input type="text" v-model="username" required />
              <label for="password">Senha:</label>
              <input type="password" v-model="password" required />
              <button type="submit" @click.prevent="login2">Entrar</button>
              </button>
              <button v-if="userAdmin" @click="paginaCadastro">Admistrador</button>
            </form>
    </header>
    <div id="app">

        <div class="lista">
            <h2>Lista de Usuários</h2>
            <button class="botaoCadastro" @click = "verCadastrados">
                {{mostrarLista ? "Ocultar Lista" : "Mostrar Lista"}}
            </button>

            <!--Processo para listar os usuários e senhas cadastrados nos arrays "usuários" e "senhas"-->
            <ol v-if="mostrarLista">
                <li v-for ="(usuario, index) in usuarios">
                    Usuário: {{usuario}}

                    <button class="botaoCadastro" @click="excluirUsuario(usuario)">Excluir</button>
                    
                </li><!--Fechamento do li-->

            </ol><!--Fechamento do ol-->
        </div>

    </div><!--Fechamento da div principal-->

    <script src="process.js"></script>
</body>
</html>