<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seucinema</title>
    <link rel="stylesheet" href="style.css" />
    <script src="vue.global.js"></script>
  </head>
  <body>
    <div>
      <header>
        <picture>
          <img class="LogoSite" src="midias/Outros/LogoSite.png" @click="Site"/> </picture
        ><!--Fechamento picture-->
        <h1>SeuCinema.com</h1>
        <form>
          <label for="email">E-mail:</label>
          <input type="text" v-model="username" required />
          <label for="password">Senha:</label>
          <input type="password" v-model="password" required />
          <button type="submit" @click.prevent="login2">Entrar</button>
          </button>
          <button v-if="userAdmin" @click="paginaCadastro">Admistrador
            <a href="http://127.0.0.1:5500/ProjetoFinalGrupo2_SegTer/cadastrados.html"></a>
          </button>
        </form>

      </header>
    </div>

    <div id="MaisRecentes">
      <h2>Mais Recentes</h2>
    </div>

    <div id="MaisRecentes"></div>

   <section>
    <div id="FilmesRecentes">
      <picture>
        <img src="midias/Mais Recentes/indiana-jones-e-a-reliquia-do-destino-novo-poster-3105.jpg" id="Indiana"/>
        <p id="IndianaT">Em Indiana Jones e a Relíquia do Destino, Indiana Jones (Harrisson Ford), famoso arqueólogo, professor e aventureiro, embarca em mais uma missão inesperada. Neste retorno do herói lendário, Indiana Jones, na quinta parcela da icônica série de filmes, encontra-se em uma nova era, aproximando-se da aposentadoria. Ele luta para se encaixar em um mundo que parece tê-lo superado. Mas quando as garras de um mal muito familiar retornam na forma de um antigo rival, Indiana Jones deve colocar seu chapéu e pegar seu chicote mais uma vez para garantir que um antigo e poderoso artefato não caia nas mãos erradas. Mas, desta vez, ele tem o sangue de uma nova geração para o ajudar nas suas descobertas e na sua luta contra o vilão Jürgen Voller (Mads Mikkelsen). Acompanhado de sua afilhada, Helena Shaw (Phoebe Waller-Bridge), o arqueólogo corre contra o tempo para recuperar o item que pode mudar o curso da história.</p>
        <a href="https://www.youtube.com/watch?v=WzV-a6pK1zA" target="_blank">
          <button id="IndianaTrailer">Trailer</button>
        </a>
        <img src="midias/Mais Recentes/Cavaleiros_Do_Zodiaco.jpg" />
        <img src="midias/Mais Recentes/Elementos.jpg" />
        <img src="midias/Mais Recentes/Esquema_De_Risco.jpg" />
        <img src="midias/Mais Recentes/HomenAranha.jpg" />
        <img src="midias/Mais Recentes/PequenaSereia.png" />
        <img src="midias/Mais Recentes/Petter_Pan.jpg" />
        <img src="midias/Mais Recentes/Transformers-Poster-2023.jpg" />
        <img src="midias/Mais Recentes/Velozes.png" />
      </picture>
    </div>
   </section>

    <div id="MaisRecentesFinal"></div>

    <div id="MaisPopulares">
      <h2>Mais Populares</h2>
    </div>

  <section>
    <div id="FilmesPopulares">
      <picture>
        <img
          src="midias/Mais Populares/Ant-Man-and-the-Wasp-Quantumania-(2023).jpg"
        />
        <img src="midias/Mais Populares/Avatar-The-Way-of-Water-(2022).jpg" />
        <img src="midias/Mais Populares/Creed-III-(2023).jpg" />
        <img src="midias/Mais Populares/GatoDeBotas2.jpg" />
        <img src="midias/Mais Populares/Guardioes.png" />
        <img src="midias/Mais Populares/John-Wick-Chapter-4-(2023).jpg" />
        <img src="midias/Mais Populares/MarioFilme.png" />
        <img src="midias/Mais Populares/Scream-VI-(2023).jpg" />
        <img src="midias/Mais Populares/Vingadores.png" /><
      </picture>
  </section>

    </div>

    <div id="MaisPopularesFinal"></div>

    <div id="MaisRecomendados">
      <h2>Mais Recomendados</h2>
    </div>

  <section>
    <div id="FilmesRecomendados">
      <picture>
        <img src="midias/Recomendados/3Homens.jpg" />
        <img src="midias/Recomendados/5passos.jpg" />
        <img src="midias/Recomendados/CasteloNoCeu.jpg" />
        <img src="midias/Recomendados/Estraordinario.png" />
        <img src="midias/Recomendados/FabricaChoco.png" />
        <img src="midias/Recomendados/GodzillaPoster_1954_Japanese_poster.jpg"/>
        <img src="midias/Recomendados/MilagresNoParaiso.jpg" />
        <img src="midias/Recomendados/ParaTodosOs.jpg" />
        <img src="midias/Recomendados/ReiDoShow.png" />
      </picture>
    </section>
  
    </div>

    <div id="MaisRecomendadosFinal"></div>

    <div id="ConhecaDesenvolvedores">
      <h2>Conheça os Desenvolvedores</h2>
    </div>

    <div id="Livia">
      <img src="midias/Outros/BuRosto.png" class="Livia">
      <h2>Livia</h2>
      <p>Oiii,bem vindos,meu nome é Livia e eu amo filme de vários gêneros menos filmes de terror.</p>
      <p>Na minha opinião os filmes tem muito a nos ensinar,também filmes dizem muito sobre nossa personalidade e caráter.</p>
      <br>
      <p>Gêneros Favoritos:</p>
      <p>Romance</p>
      <p>Ação</p>
      <p>Comédia</p>
      <p>Misterio/Suspense</p>
      <br>
      <p>Filmes Favoritos:</p>
      <p>Rei do show</p>
      <p>Milagre no paraíso</p>
      </div>
    
    <div id="LiviaBaixo"></div>

    <div id="Guilherme">
      <img src="midias/Outros/GodzillaRosto.png" class="Guilherme">
      <h2>Guilherme</h2>
      <p>Bem Vindo ao site SeuCinema.com, criamos este site com o propósito de recomendação e votação de filmes, recomendaremos</p>
      <p> melhores filme e vocês darão uma nota a eles.</p>
      <p>Gosto de filmes que principlamente me entretenha, então não espere filmes chatos da minha parte,caso tenha um gosto semelhante</p>
      <p>ao meu.</p>
      <br>
      <p>Gêneros Favoritos:</p>
      <p>Aventura</p>
      <p>Animação</p>
      <p>Ação</p>
      <br>
      <p>Filmes Favoritos:</p>
      <p>Godzila (1954)</p>
      <p>Três Homens Em Conflito (1996)</p>
      <p>O Castelo No Céu (1986)</p>
    </div>

    <div id="GuilhermeBaixo"></div>

    <div id="Isabella">
      <img src="midias/Outros/AgnesRosto.png" class="Isabella">
      <h2>Isabella</h2>
      <p>Olá,Bem Vindo, meu nome é Isabella  e não apenas como os citados abaixo gosto muito também de filmes de terror, acredito que os</p>
      <p>filmes são uma fantasia ou realidade, temos sempre uma forma de nos identificarmos com o cinema e as suas histórias, os flmes</p>
      <p>acaba sendo uma forma de entretenimento em nossa vida.</p>
      <br>
      <p>Gêneros Favoritos:</p>
      <p>Drama<p/>
      <p>Romance<p/>
      <p>Comédia</p>
      <br>
      <p>Filmes Favoritos:</p>
      <p>A Cinco Passos De Você</p>
      <p>A Fantástica Fábrica De Chocolate</p>
    </div>
    
    <div id="IsabellaBaixo">
      <h2>Cadastro</h2>
    </div>

    <div id="Cadastro">
        <label for="username">Nome do usuário:</label>
        <input type="text" v-model="username" required>
        <label for="password">Senha</label>
        <input type="password" v-model="password" required>
        <label for="username">Confirme a Senha:</label>
        <input type="text" v-model="username" required>
        <button type="submit" @click.prevent="login2">Cadastrar</button>
    </div>

  <divv>
    <footer>
      <p>© 2023 SeuCinema. Todos os direitos reservados.</p>
    </footer>

  </divv>  
    <script src="process.js"></script>
  </body>
</html>
