* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

#app {
  top: 200%;
}

header {
  background-color: red;
  height: 50px;
  width: 100%;
}

h1 {
  color: gold;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0px;
  left: 50px;
}

.LogoSite {
  height: auto;
  width: 50px;
}

form {
  flex-direction: row;
  position: absolute;
  top: 15px;
  left: 310px;
}

#MaisRecentes {
  border: 5px solid gold;
  background-color: gold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

img {
  width: 130px;
  height: 190px;
}

img:hover{
  transform: scale(1.05);
}

#MaisRecents {
  background-color: black;
}

#FilmesRecentes {
  /* <img src="midias/Mais Recentes/indiana-jones-e-a-reliquia-do-destino-novo-poster-3105.jpg">
    <img src="midias/Mais Recentes/Cavaleiros_Do_Zodiaco.jpg">
    <img src="midias/Mais Recentes/Elementos.jpg">
    <img src="midias/Mais Recentes/Esquema_De_Risco.jpg">
    <img src="midias/Mais Recentes/HomenAranha.jpg">
    <img src="midias/Mais Recentes/PequenaSereia.png">
    <img src="midias/Mais Recentes/Petter_Pan.jpg">
    <img src="midias/Mais Recentes/Transformers-Poster-2023.jpg">
    <img src="midias/Mais Recentes/Velozes.png"> */
}

#IndianaT{
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#IndianaTrailer{
  display: none;
  font-family: Arial, Helvetica, sans-serif;
}

#MaisRecentesFinal {
  background-color: gold;
  height: 50px;
  width: 100%;
}

#MaisPopulares {
  border: 5px solid red;
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#FilmesPopulares {
  /* <img src="midias/Mais Populares/Ant-Man-and-the-Wasp-Quantumania-(2023).jpg">
    <img src="midias/Mais Populares/Avatar-The-Way-of-Water-(2022).jpg">
    <img src="midias/Mais Populares/Creed-III-(2023).jpg">
    <img src="midias/Mais Populares/GatoDeBotas2.jpg">
    <img src="midias/Mais Populares/Guardioes.png">
    <img src="midias/Mais Populares/John-Wick-Chapter-4-(2023).jpg">
    <img src="midias/Mais Populares/MarioFilme.png">
    <img src="midias/Mais Populares/Scream-VI-(2023).jpg">
    <img src="midias/Mais Populares/Vingadores.png">*/
}

#MaisPopularesFinal {
  background-color: red;
  height: 50px;
  width: 100%;
}

#MaisRecomendados {
  background-color: gold;
  height: 50px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#FilmesRecomendados {
  /* <img src="midias/Recomendados/3Homens.jpg">
    <img src="midias/Recomendados/5passos.jpg">
    <img src="midias/Recomendados/CasteloNoCeu.jpg">
    <img src="midias/Recomendados/Estraordinario.png">
    <img src="midias/Recomendados/FabricaChoco.png">
    <img src="midias/Recomendados/GodzillaPoster_1954_Japanese_poster.jpg">
    <img src="midias/Recomendados/MilagresNoParaiso.jpg">
    <img src="midias/Recomendados/ParaTodosOs.jpg">
    <img src="midias/Recomendados/ReiDoShow.png"> */
}

#MaisRecomendadosFinal {
  background-color: gold;
  height: 50px;
  width: 100%;
}

#ConhecaDesenvolvedores{
  border: 5px solid red;
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#Livia{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-right: 10px;
}

#Guilherme{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-right: 10px;
}

#Isabella{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-right: 10px;
}

img.Isabella{
  width: 250px;
  height: 250px;
  position: absolute;
  right: 0;
  float: left;
  margin-right: 0px;
}

img.Livia{
  width: 250px;
  height: 250px;
  position: absolute;
  right: 0;
  float: left;
  margin-right: 0px;
  
}

#LiviaBaixo{
  background-color: red;
  height: 2px;
  width: 100%;
}

img.Guilherme{
  width: 250px;
  height: 290px;
  position: absolute;
  right: 0;
  float: left;
  margin-right: 0px;
}

#GuilhermeBaixo{
  background-color:red;
  height: 2px;
  width: 100%;
}

#IsabellaBaixo{
  background-color: gold;
  height: 50px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#Cadastro{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
  
footer {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: red;
}

#app{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: gold;
}