img{
    width: 150px;
    height: auto;
    border: 2px solid black;
    padding: 5px;
    background-color: red;
    transition: transform 0.2s;
    border-radius: 10px;
}

img:hover{
    transform: scale(1.05);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 203, 106);
    padding: 20px;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li{
    margin-right: 20px;
    margin-bottom: 20px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button{
    background-color: red;
    color: white ;
    border-style: 2px solid;
    border-color: red;
    padding: 5px 10px;
    cursor:pointer
}

button:hover{
    background-color: white;
    color: red;
}