.calculadora{
    background-color: silver;
    top: 50%;
    left: 50%;
    position: fixed;
    display: flex;
    border: 1px solid rgb(51, 51, 51);
    transform: translate(-50%, -50%);
    font-size: 2rem;
    padding: 20px;
    border-radius: 4px;
    background-image: linear-gradient(white,silver);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}/*Fechamento calculadora*/

.tela{
    color: black;
    width: 93%;
    height: 80px;
    background-color: darkgray;
    border-radius: 10px;
    /* font-size: 3rem; */
    margin-bottom: 20px;
    border: 3px solid rgb(51, 51, 51);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}/*Fechamento tela*/

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}/*Fechamento linha*/

.configuracaoBotao{
    display: flex;
    flex-direction: column;
    align-items: center;
}/*Fechamento conficuracaoBotao*/

button{
    font-size: 2rem;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border: 3px solid rgb(51, 51, 51);
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
}

button:hover{
    background-color: rgb(228, 228, 228);
}

button:last-child{
    margin-right: 0;
    background-color: silver;
}

.clear{
    width: 100px;
}