body {
    background-color: rgb(255, 233, 181);
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    margin-top: 2%;
    color: rgb(59, 10, 10);
}

ul{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
li{
    margin: 30px;
}

a{
    display: block;
    text-align: center;
    background-color: grey;
    padding: 10px 15px;
    border-radius: 10%;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

a:hover{
    background-color: goldenrod;
    color: rgb(59, 10, 10);
}

.instagram{
    background-image: linear-gradient(to top, rgba(255, 153, 0),
     rgba(255, 0, 113), rgba(253, 0, 200), rgba(119, 16, 255));
    color: white;
}

.twitter{
    background-color: rgba(29, 161, 242, 1);
    color:white
}

.facebook{
    background-color: rgba(24, 119, 242, 1);
    color: white;
}